body{
  background-color:lightblue;
  padding:10px;
}
div{
 text-align:center;
}
h1{
  text-align:center;}
ul,li{
 margin:8px 2px;
 font-size:16px;
  }
button{
 margin:8px;
 font-size:14px;
}

 
